header{
    background-color: #0D182E;
    height: 13.3125rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("../../assets/images/world.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.parrotImage{
    width: 6rem;
    height: 5.5rem;
    margin-right: 1rem;
}

.headerText{
    font-size: 2.5rem;
    color:#32CD32;
    font-family: 'Big Shoulders Display';
    font-weight: 800;
}

.headerInfo{
    color: #FFF;
    font-family: Poppins;
    font-size: 0.76325rem;
    font-style: normal;
    font-weight: 600;
}

